<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAJA_BANCO.Properties.Settings.CoreBancarioConnectionString"
            connectionString="Data Source=DESKTOP-MISA5G1;Initial Catalog=CoreBancario;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CAJA_BANCO.Properties.Settings.CoreBancarioConnectionString1"
            connectionString="Data Source=desarrollo3.database.windows.net;Initial Catalog=CoreBancario;Persist Security Info=True;User ID=adminDesarrollo3;Password=Banco123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="ApiUrl" value="https://localhost:7033/api" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.3" newVersion="8.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>